:root {
  --color-primary: #333;
  --color-secondary: #a9c0ff;
  --color-tertiary: #fff;
  --color-quaternary: #ef0a0a;
  --color-quinary: rgb(107, 107, 107);
  --color-text-dark: #333;
  --color-text-lite: #faf6f6;
  --block-size: 3vh;
  --game-width: 10;
  --game-height: 22;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;

  .pageHeader {
    text-align: center;
    padding: 10px;
    background-color: var(--color-secondary);
    color: var(--color-text-dark);
    font-size: 20px;
  }

  .gameInformation {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 10px;
    background-color: #333;
    color: var(--color-text-lite);
    margin: 4%;
    width: 70%;
    height: 10vh;

  }
  #gameLayout {
    // a 22*10 grid
    display: inline-grid;
    grid-template-columns: repeat(var(--game-width), var(--block-size));
    grid-template-rows: repeat(var(--game-height), var(--block-size));
    background-image: linear-gradient(to right, black 1px, transparent 1px),
                      linear-gradient(to bottom, black 1px, transparent 1px);

    gap: 0;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-self: center;
    width: calc(var(--game-width) * var(--block-size));
    height: calc(var(--game-height) * var(--block-size));
    background-size: var(--block-size) var(--block-size);
    background-color: var(--color-quinary);
    border: 2px solid var(--color-primary);
    .block
    {
      width: var(--block-size);
      height: var(--block-size);
      border: 1px solid;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td {
    width: var(--block-size);
    height:var(--block-size);
    text-align: center;
    border: 1px solid var(--color-primary);
    background-color: var(--color-quinary);
  }
  
  .pageFooter {
    text-align: center;
    padding: 10px;
    background-color: var(--color-secondary);
    color: var(--color-text-dark);
    font-size: 20px;
  }
}
